.testing {
    width: percentage(5/7);
    height: 300px;
    background-color: #f47;
    .tree {
        height: percentage(1/7);
    }
}

body {
    margin: 0;
    padding: 0;
}

.print {
    padding: 0 10px;
}